*{
    font-size: 24px;
}

body{
    width:100%;
    color: white;
    margin: 0px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
}

hr{
    width: 70%;
    color: black;
}

header{
    width:100%;
    background: #549cd6;
    text-align: center;
}

header > img{
    vertical-align: middle;
    width: 60%;
}

header address{
    text-align: center;
    font-size: 1.25vw;
}

nav{
    position: sticky;
    left:0px;
    top:0px;
    width:100%;
    margin-top:-8px;
    background: #549cd6;
    font-size: 2vw;
    text-align: center;
}

nav ul{
    padding: 1vw;
    display: inline-block;
}

nav ul > li{
    display: inline-block;
}

nav a{
    color: white;
    border: 2px solid white;
    margin: auto;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(20, 20, 66);
}

.main{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    width: 35%;
    margin: 2%;
    padding: 5%;
    background: rgb(0 31 54);
    text-align: center;
}

#image1 img{
    vertical-align: middle;
    width: 100%;
}

#info1{
    width: 35%;
    margin: 2%;
    padding: 5%;
    background: rgb(0 31 54);
    text-align: center;
}

#info1 h1{
    border:solid;
    padding: 20px;
    background: rgb(9, 9, 39);
}

#image2{
    width: 35%;
    margin: 2%;
    padding: 5%;
    background: rgb(9 130 147);
    text-align: center;
}

#image2 img{
    vertical-align: middle;
    width: 100%;
}

#info2{
    width: 35%;
    margin: 2%;
    padding: 5%;
    background: rgb(9 130 147);
    text-align: center;
}

#info2 h1{
    border:solid;
    padding: 20px;
    background: rgb(9, 9, 39);
}

#video{
    width: 70%;
    margin: auto;
    border: solid;
    padding: 5%;
    background:#549cd6;
    text-align: center;
}

#video video{
    width: 80%;
}

#contactinfo{
    width:20%;
    margin: auto;
    padding: 5%;
    text-align: center;
    color: black;
}

#contactinfo p{
    font-size: 1.25vw;
}

@media screen and (max-width: 960px){
    *{
        font-size: 18px;
    }

    nav{
        line-height: 2.75;
    }

    .main{
        width: 70%;
        display: block;
        margin-left: 11.5%;
        padding: 0px;
    }

    #image1{
        width: 100%;
        margin:0px;
    }

    #info1{
        width: 100%;
        margin: 0px;
    }

    #image2{
        width: 100%;
        margin: 0px;
    }

    #info2{
        width: 100%;
        margin: 0px;
    }

}

@media screen and (max-width: 600px){
    *{
        font-size: 16px;
    }

    nav{
        line-height: 2.75;
    }

    .main{
        width: 70%;
        display: block;
        margin-left: 11.5%;
    }

    #image1{
        width: 100%;
        margin:0px;

    }

    #info1{
        width: 100%;
        margin: 0px;
    }

    #image2{
        width: 100%;
        margin: 0px;
    }

    #info2{
        width: 100%;
        margin: 0px;
    }

    #video{
        padding: 0px;
    }
}