body{
    Width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.nav{
    width:10%;
}

.icon-bar{
    background-color: green;
    margin-left: 0px;
}

.icon-bar a {
    display: block;
    padding: 8px;
    transition: all 0.2s ease;
    color: white;
    font-size: 4vw;
  }

.icon-bar i:hover{
    color: cyan;
}

.main{
    display: block;
    width: 90%;
    background-color: midnightblue;
}

#header{
    width: 100%;
}

#header header{
    width: 50%;
    position: relative;
    top: 30%;
    left: 25%;
    text-align: center;
    margin-block-start: 0%;
    overflow-x: auto;
    background-color: red;
}

article{
    width: 100%;
    background-color: yellow;
}


